{
  "hooks": {
    "pre-commit": "npm run precommit",
    "commit-msg": "husky run .husky/commit-msg $1",
    "prepare-commit-msg": "husky run .husky/prepare-commit-msg $1",
    "post-merge": "husky run .husky/post-merge"
  }
} 